{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
            <img style="width:80%; " src="/static/media/HermesLogo.jpeg" />
    </div>
    <div>
        <div class="row">
            <div class="col" align="center">
                <h2><b>Archivo Procesado correctamente</b></h2>
            </div>
        </div>
        <div class="row">
            <div class="col" align="right">
                Archivo txt en:
            </div>
            <div class="col" align="left">
                {{ direc }}
            </div>
        </div>
    </div>

{% endblock %}